* {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* This makes main take up the remaining space */
}

footer {
  text-align: center;
  padding: 0.5rem 1rem;
}


body {
  display: grid;

}

nav {
  padding: 1rem;
}

.profile-nav{
  text-decoration: none;
  padding: 0pt !important;
  border: none;
  cursor: pointer;
}

.nav-link{
  border-radius: 8pt;
}

 .nav-link:hover{
  background-color: white;
  color: #c89e2b !important;
}


.active-link{
  background-color: var(--color-white) !important;
  color: black !important;
}

.dropdown-item:hover {
  background-color: white !important;
  color: #c89e2b !important;
}  

.dropdown-item {
  color: white !important;
}  


footer {
  text-align: center;
  padding: 0.5rem 1rem;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100%;        
  text-align: center;     
  flex-direction: column; 
}

.img{
  height: 220pt;
}