<div class="center-container">
    <h1 class="text-danger" id="Title">Access Denied</h1>
    <h4 class="mb-4">You are only <%= role %></h4>
    <img class="img" src="/images/Cat_August_2010-4.jpg" alt="cat"/>
</div>