<h1 style="color: #caa02c;" class="text-center mt-3">User List</h1>
<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody id="userTableBody">
          <!-- Filled by JS -->
        </tbody>
      </table>
      
</div>
