<div class="center-container bg-dark text-white text-center">
    <h1 class="display-3 mb-5">Home Page</h1>
    <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
    <br>
    <a class="btn btn-secondary btn-lg" href="/login">Log In</a>
</div>
  