<div class="center-container">
    <h1 id="Title" class="display-3 mb-5">Welcome</h1>
    <a class="btn btn-primary btn-lg mb-3" href="/members">Go to Members Area</a>
    <button type="button" class="btn btn-danger btn-lg logout">Logout</button>
</div>