<div class="center-container mx-5 text-center">
    <h1 id="Title" class="display-3 mb-4">Welcome</h1>
  
    <div class="row justify-content-center mb-0" id="catRow"></div>
  
    <button type="button" class="btn btn-danger mb-3 btn-lg logout mt-0">Logout</button>
  </div>
  